
@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de) ;
}

.Navbar{
  z-index: 1000;
  top: 2.5px;
}

section{
  position:relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
}

section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section img#moon{
  mix-blend-mode: screen;
}

#text{
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  font-size: 1.5em;
  z-index: 9;
}